@import url("basic.css");

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif
}

:root {
    --bg: #161b22;
    --bg-light: #272e38;

    --text: #e5e7eb;
}

body {
    background-color: #161b22;
    -webkit-text-size-adjust: none
}

img,
svg {
    user-select: none;
    -webkit-user-drag: none
}

header {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em
}

.menu a,
header .menu {
    display: flex;
    color: #e5e7eb;
    opacity: .9;
    text-decoration: none;
    margin-left: 4rem
}

.menu img {
    align-self: center;
}

.menu a:hover {
    color: gray;
    transition: .1s ease-in-out;
}

.banner {
    width: 100%;
    max-height: 30vh;
    overflow: hidden;
    margin: 1rem 0;
}

.banner img {
    filter: brightness(90%);
}

.banner img {
    width: 100%
}

.socialmedia {
    width: 65%;
    height: 25vh;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around
}

.socialmedia .card {
    width: 29%;
    height: max-content;
    padding: .5rem .5rem;
    margin: auto;
    border-radius: .7em;
    background-color: #272e38;
    display: grid;
    grid-template-columns: 80% 20%
}

.card.uploaded {
    position: relative;
    border: 2px solid #FF0000;
}

.card.islive {
    border: 2px solid #9147FE;
}

.card .new {
    display: none;
}

.card.uploaded .new {
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-weight: 600;
}

.card .details {
    color: #e5e7eb;
    margin: 1em 2em
}

.card .details h5 {
    opacity: .5;
}

.card .details p {
    margin: 1em 0;
}

.card .details svg {
    width: 1.5rem;
}

.card .details button {
    padding: .5rem 2rem;
    background-color: #1da1f2;
    border: 0;
    border-radius: .5rem;
    font-size: .9em;
    font-weight: 600;
    color: #e5e7eb;
    cursor: pointer
}

.card .avatar {
    width: 30%;
    height: 30%;
    display: flex;
    place-content: center;
    margin: 1rem 0;
}

.upsell {
    width: 75%;
    color: #e5e7eb;
    margin: 1rem auto;
}

.upsell .header {
    white-space: nowrap;
    width: 80%;
    margin: 2rem auto;
    display: flex;
    align-items: center
}

.upsell .header img {
    margin: 0 1rem
}

.upsell .content {
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: space-around;
}

.column {
    flex-direction: column
}

.content .details {
    display: flex;
    flex-direction: column;
    width: 50%
}

.yt_place {
    cursor: pointer;
    position: relative;
}

.yt_place img {
    display: block;
}

.yt_place svg {
    width: 20%;
    fill: #f3f4f6;
    opacity: 75%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

iframe {
    border-radius: .9em;
    width: 500px;
    height: 280px;
}

#youtube_placeholder {
    cursor: pointer;
}

.details .views {
    width: 100%;
    padding: .8rem;
    margin: 1rem auto;
    text-align: center;
    border-radius: .5em;
    background-color: #272e38;
    border: 1px solid #707070
}

.cape {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.cape .img img {
    height: 75%
}

.cape .sell {
    margin-top: 2rem
}

.content .cape {
    width: fit-content;
}

.cape p {
    margin: 2rem 0;
    font-size: .9em;
}

.cape button {
    padding: .8em 1.5em;
    border-radius: .8em;
    color: #e5e7eb;
    font-weight: 600;
    background-color: #272e38;
    border: 1px solid #fff;
    cursor: pointer;
}

.download {
    width: 60%;
    min-height: 25vh;
    border-radius: .8em;
    background-color: #272e38;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem auto;

    background-image: url("../img/tp_background.webp");
    background-size: contain;
    background-repeat: no-repeat;
    color: #e5e7eb;
}

.download .title {
    display: grid;
    place-content: center;
    font-size: larger;
}

.download .content {
    display: grid;
    place-content: center;
}

.download .content button {
    padding: 1rem 2rem;
    border-radius: .8em;
    color: #e5e7eb;
    font-weight: 600;
    background-color: #1da1f2;
    border: 1px solid #fff;
    cursor: pointer;
    margin-top: 1rem
}

#link {
    border: 0;
    background-color: transparent
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background-color: var(--background_hard)
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

footer {
    padding: 3rem;
    text-align: center;
    color: #e5e7eb;
    font-size: .9em;
    opacity: 0.7;
}

footer a {
    color: #0ea5e9;
}

@media screen and (max-width: 1250px) {
    .socialmedia {
        width: 100%;
    }

    .socialmedia .card {
        width: 29%;
    }

    .download {
        width: 80%;
        font-size: smaller;
    }

}


@media screen and (max-width:850px) {
    header {
        width: 90%;
        overflow: hidden;
        display: grid;
        place-content: center;
    }

    header .menu {
        display: none;
    }

    .avatar img {
        height: auto;
    }

    .socialmedia {
        width: 90%;
        flex-direction: column;
        height: fit-content;
    }

    .socialmedia .card {
        width: 80%;
        min-height: 33%;
        margin-bottom: 1rem;
    }

    .upsell {
        width: 100%;
    }

    .upsell .header {
        display: grid;
        place-content: center;
    }

    .upsell .header img {
        display: none;
    }

    .content {
        width: 100%;
    }

    .upsell .content {
        flex-direction: column;
    }

    .content .details {
        width: 90%
    }

    .download {
        display: none
    }
}

.skeleton {
    background-color: #161b22;
    width: 80%;
    height: 22px;
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 0.7s ease infinite;
    border-radius: .5rem;
}

@keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}